.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    color: #586069;
    font-size: 18px;
  }

  .buttons {
    padding: 5px 15px !important;

    button {
      margin: 0 0 0 5px;
    }
  }
}