.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #dbedff 32%, #ebfff0);

  .greeting {
    width: 980px;
    padding: 40px 20px;
  }

  p {
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 18px;
  }

}